{% extends 'base.html.twig' %}

{% block body %}

	<div id="aboutUs">
		<h1>About Us:</h1>
		<p>Let's start with the basics right away: a bucket list is a list of everything you'd like to do in your lifetime, before you die. Not a very cheerful approach? It must be said that the concept was popularized by the magnificent film Without Further Expectation, where Jack Nicholson and Morgan Freeman, both suffering from incurable cancer, find themselves in the same hospital room and decide to get out of it to enjoy together the last months they have left.</p>
		<p>Since then, the bucket list has become a common thread for many travelers. It acts as the promise of an escape from daily life and the symbol of an existence with renewed priorities.</p>
		<p>The bucket list is a symbol of the future.</p>
		<p>Yes, basically, why? We know very well what we want to do and not do, right? So why waste time with yet another list?</p>
		<ul>
			<li>Because words fly and writing stays, as the saying goes. Ah, all those things we think about, that we promise ourselves to write down to remember and then forget... That's what the bucket list is for: not to let a dream slip away.Because the bucket list is the only way to make sure that you don't forget.</li>
			<li>Because writing is about giving importance. Thinking about a dream, talking about it, is already great. But to put it down in writing is to give it consistency and a lot of importance as well.</li>
			<li>Because a dream is a dream.</li>
			<li>Because a bucket list leads you to sort through your life a little bit and detect what is essential. What do you really want? You thought that having children would prevent you from living? What if that wasn't so true? Write it down, cross it out, think about it...</li>
			<li>Because it encourages finding solutions rather than excuses. Without pushing one's dreams a little further than the mere idea, everything will always be too soon, too late, too expensive, too far, too dangerous, too guilt-ridden... And nothing could be further from the truth. From this point of view, the bucket list will also be a precious and reassuring reference point in the face of the grumpy and jealous people of all stripes who will not fail to dissuade you from everything.</li>
			<li>Because it's an invitation to take charge, to become fully active in your life. A bucket list can be a rudder: yes, you have things you care about, dreams you want to achieve. They are there, in front of you. Read them again when you feel blue. It gives you energy and a horizon in the gray days.</li>
		</ul>
	</div>

{% endblock %}
