{% extends 'base.html.twig' %}

{% block body %}
    
    <p>Welcome to Bucket List {{ username }} !</p>
    <p>You may create your own bucket list, that you shall complete before you die !</p>

{% endblock %}
